.Header {
    color:white;
    margin-bottom: 10px;
    background-color: #1abc9c;
    padding: 5px 20px;
    text-align: center;
    
}

.Form input {
    margin: 10px;
}

.Inputs {
    padding: 20px;
}

.Form input {
    margin: 10px;
}

.Buttons {
    justify-content: flex-end;
}

.Label {
    color: grey;
    padding-left: 10px;
}


.Error {
    color: red;
    font-size: 1.2ev;
}